<template>
  <div :id="domId" class="canvas-wrapper"></div>
</template>

<script lang="ts">
import { ref } from "@vue/reactivity";
import { generateChar, throttle, debounce } from "@/common/js/util";
import Template from "./Class/Template";
import { onMounted } from "@vue/runtime-core";
import TWEEN from "@tweenjs/tween.js";
import { Vector3 } from "three";
import { addModelToScene } from "./UI/AddModel";
import {
  onDocumentMouseDown,
  onWindowResize,
  onDocumentMouseMove,
} from "./UI/mouse";
import setAxesHelper from "./helper/setAxesHelper";
import { addAmbientLight, addDirectionalLight } from "./Scene/light";
import { allInstanceMove, updateMixer } from "./UI/actions";
import { addEnvironment } from "./Scene/environment";
import { setControl } from "./control/setOrbitControl";

let wrap3d: Template;

function animate() {
  updateMixer();
  allInstanceMove();
}

function render() {
  wrap3d.controls.update();
  TWEEN.update();
  animate();
  if (wrap3d.composer) {
    wrap3d.composer && wrap3d.composer.render();
  } else {
    wrap3d.renderer.render(wrap3d.scene, wrap3d.camera);
  }
  requestAnimationFrame(render);
}

export default {
  setup() {
    const domId = ref(generateChar());
    function init() {
      wrap3d = new Template(domId.value);
      wrap3d.alpha = 0.5;
      wrap3d.cameraPosition = new Vector3(50, 50, 50);
      wrap3d.init();
      wrap3d.controls = setControl(wrap3d.camera, wrap3d.el);
      addModelToScene(wrap3d.scene); // 添加模型
      addAmbientLight(wrap3d.scene); // 添加环境
      addDirectionalLight(wrap3d.scene); // 添加平型光
      setAxesHelper(wrap3d); // 坐标系辅助线
      addEnvironment(wrap3d); // 添加环境
      render();
      document.addEventListener(
        "pointerdown",
        (e: PointerEvent) => onDocumentMouseDown(e, wrap3d),
        false
      ); // 添加监听事件
      document.addEventListener(
        "mousemove",
        throttle((e: MouseEvent) => onDocumentMouseMove(e, wrap3d), 200),
        false
      ); // 添加监听事件
      window.addEventListener(
        "resize",
        debounce(() => onWindowResize(wrap3d), 200),
        false
      ); // 添加监听事件
    }
    onMounted(() => {
      init();
    });
    return {
      domId,
    };
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
div {
  height: 100%;
}
.canvas-wrapper {
  position: relative;
  background-image: radial-gradient(transparent 35%, #353535);
}
</style>
